version: '3.9'
services:
  netbootxyz:
    image: ghcr.io/netbootxyz/netbootxyz:0.7.6-nbxyz3@sha256:d66d09d87871a88537c1e4c02494c3d358ad76320311ca39b99445a6da0bf66a
    hostname: netbootxyz
    container_name: netbootxyz__netbootxyz
    restart: unless-stopped

    environment:
      NGINX_PORT: "8069"
      WEB_APP_PORT: "80"

    ports:
      - 69:69/udp
      - 8069:8069

    volumes:
      - type: volume
        source: netbootxyz_config
        target: /config

      - type: volume
        source: netbootxyz_assets
        target: /assets

    deploy:
      resources:
        limits:
          memory: 512m


  cloudflared:
    image: cloudflare/cloudflared:2026.1.2@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    hostname: cloudflared
    container_name: netbootxyz__cloudflared
    restart: unless-stopped

    command: tunnel run --token ${TUNNEL_TOKEN}

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  netbootxyz_config:
    name: netbootxyz__netbootxyz_config

  netbootxyz_assets:
    name: netbootxyz__netbootxyz_assets
